<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BroDesign3D Productos</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kufam:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="../index.html"><img src="../assets/img/logobro.png" alt="logoBro"> </a>
        </div>
        <ul>
           <li><a href="../views/productos.html">Productos</a>
               <ul>
                   <li><a href="../views/producto_estudio.html"> Piezas para Estudio</a></li>
                   <li><a href="../views/producto_coleccionables.html"> Piezas Coleccionables</a></li>
                   <li><a href="../views/producto_hobby.html"> Piezas para Hobby</a></li>
                   <li><a href="../views/producto_hogar.html"> Piezas para el Hogar</a></li>
               </ul>
           <li><a href="../views/quienes_somos.html">Quienes Somos</a></li>
           <li><a href="../views/paginas_para_descargar_STL.html">Paginas vinculadas</a></li>
           <li><a href="../views/contacto.html">Contacto</a></li>
       </ul> 
    </nav>
    <section>
         <h2>Producto</h2>   
    </section> 
    <main class="producto">
        <div class="BotonProducto">  
            <br>
            <h3 class="TituloBoton">Piezas para Estudio</h3>
            <a href="./producto_estudio.html"><img src="../assets/img/estudio.jpg" alt="Piezas para Estudio"></a>
            <br>
        </div>
        <div class="BotonProducto"> 
            <br>
            <h3 class="TituloBoton">Piezas para el Hogar</h3>    
            <a href="./producto_hogar.html"><img src="../assets/img/hogar.jpg" alt="Piezas para el Hogar"></a>
            <br>
        </div>
        <div class="BotonProducto">
            <br>
            <h3 class="TituloBoton">Piezas para Hobby</h3>   
            <a href="./producto_hobby.html"><img src="../assets/img/hobby.jpg" alt="Piezas para Hobby"></a>
            <br>
        </div>
        <div class="BotonProducto"> 
            <br>
            <h3 class="TituloBoton">Piezas Coleccionables</h3>    
            <a href="./producto_coleccionables.html"><img src="../assets/img/coleccionables.jpg" alt="Piezas Coleccionables"></a>
            <br>
        </div>            
    </main>
    <footer>
        <hr>
        <a href="https://www.instagram.com/brodesign3d/?hl=es"><img src="../assets/img/images.jpg" alt="Instagram"></a>
        <p>Todos los derechos estan reservados 2022</p>
    </footer>   
</body>
</html>