<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BroDesign3D Quienes Somos</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kufam:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="../index.html"><img src="../assets/img/logobro.png" alt="logoBro"> </a>
        </div>
        <ul>
           <li><a href="../views/productos.html">Productos</a>
               <ul>
                   <li><a href="../views/producto_estudio.html"> Piezas para Estudio</a></li>
                   <li><a href="../views/producto_coleccionables.html"> Piezas Coleccionables</a></li>
                   <li><a href="../views/producto_hobby.html"> Piezas para Hobby</a></li>
                   <li><a href="../views/producto_hogar.html"> Piezas para el Hogar</a></li>
               </ul>
           <li><a href="../views/quienes_somos.html">Quienes Somos</a></li>
           <li><a href="../views/paginas_para_descargar_STL.html">Paginas vinculadas</a></li>
           <li><a href="../views/contacto.html">Contacto</a></li>
       </ul> 
    </nav>
    <section>
         <h2>¿Quienes somos?</h2>   
    </section>
    <main class="qsinicio">
       <div class="caja"><!--aca pongo el porque usar una impresora 3D-->
            <h3>¿Porque usar una impresora 3D?</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corrupti atque expedita modi dignissimos ipsam, optio quas ea. Ipsam pariatur voluptatum maiores quo omnis corporis odio id porro accusamus assumenda.
            Culpa inventore minima ratione eos nisi eligendi officiis doloribus sit adipisci? Illum sunt iure ut hic, officia porro, eveniet veniam deleniti molestiae autem ex omnis similique doloremque iusto! Qui, incidunt.</p>
        </div>
        <div class="caja"><!--aca pongo que tipo de plasticos se usan-->
            <h3>¿Que tipo de Filamentos existen?</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corrupti atque expedita modi dignissimos ipsam, optio quas ea. Ipsam pariatur voluptatum maiores quo omnis corporis odio id porro accusamus assumenda.
            Culpa inventore minima ratione eos nisi eligendi officiis doloribus sit adipisci? Illum sunt iure ut hic, officia porro, eveniet veniam deleniti molestiae autem ex omnis similique doloremque iusto! Qui, incidunt.</p>
        </div>
        <div class="caja"><!--aca explico funcionamiento de la impresora-->
            <h3>¿Como funciona una impresora 3D?</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corrupti atque expedita modi dignissimos ipsam, optio quas ea. Ipsam pariatur voluptatum maiores quo omnis corporis odio id porro accusamus assumenda.
            Culpa inventore minima ratione eos nisi eligendi officiis doloribus sit adipisci? Illum sunt iure ut hic, officia porro, eveniet veniam deleniti molestiae autem ex omnis similique doloremque iusto! Qui, incidunt.</p>
        </div>
        <div class="caja"><!--sobre nosotros-->
            <h3>¿Quienes Somos?</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corrupti atque expedita modi dignissimos ipsam, optio quas ea. Ipsam pariatur voluptatum maiores quo omnis corporis odio id porro accusamus assumenda.
            Culpa inventore minima ratione eos nisi eligendi officiis doloribus sit adipisci? Illum sunt iure ut hic, officia porro, eveniet veniam deleniti molestiae autem ex omnis similique doloremque iusto! Qui, incidunt.</p>
            </div>         
    </main>
    <footer>
        <hr>
        <a href="https://www.instagram.com/brodesign3d/?hl=es"><img src="../assets/img/images.jpg" alt="Instagram"></a>
        <p>Todos los derechos estan reservados 2022</p>
    </footer> 
</body>
</html>