<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aqui podras saber por quienes estamos atras de la impresora y que beneficios tiene una impresion 3D">
    <title>BroDesign3D Quienes Somos</title>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kufam:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="../index.html"><img src="../assets/img/logobro.png" alt="" width="40" height="40" class="d-inline-block align-text-top m-1"></a>
      <a class="navbar-brand" href="#">#BD3D</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
          </li>          
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="/views/productos.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./producto_estudio.html">Piezas de Estudio</a></li>
              <li><a class="dropdown-item" href="./producto_hobby.html">Piezas de Hobby </a></li>
              <li><a class="dropdown-item" href="./producto_hogar.html">Piezas del Hogar </a></li>
              <li><a class="dropdown-item" href="./producto_coleccionables.html">Piezas Coleccionables </a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./quienes_somos.html">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/views/paginas_para_descargar_STL.html">Paginas Vinculadas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./contacto.html">Contactenos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <main>
       <div class="caja"><!--aca pongo el porque usar una impresora 3D-->
            <h3>¿Porque usar una impresora 3D?</h3>
            <br>
            <p class="lead">La tecnología de impresión 3D permite llevar a la realidad un diseño. Permite asimismo reducir el tiempo de trabajo necesario en la realización de una maqueta a escala del modelo original. Mientras se está realizando la impresión, puede dedicarse el tiempo a otras tareas importantes del proyecto.</p>
        </div>
        <div class="caja"><!--aca pongo que tipo de plasticos se usan-->
            <h3>¿Que tipo de Filamentos existen?</h3>
            <br>
            <p class="lead">
              1. Filamento PLA:
              Es uno de los filamentos para impresora 3D más utilizados gracias a que es muy estable y no necesita cama caliente. Se obtiene a partir de materia como el maíz y el trigo, hecho que le hace no producir gases tóxicos al contrario que otros filamentos.
              Además de ser un material reciclable, ofrece mayor velocidad de impresión que otras opciones en el mercado, siendo la opción preferida para aquellos usuarios que dan sus primeros pasos en impresión 3D y también de usuarios experimentados.
              La temperatura de extrusión del filamento PLA se encuentra entre 190 y 220°C y la cama caliente debe estar entre 40-50°C.
              <br>
              2. Filamento ABS:
              Este tipo de filamento para impresión 3D es utilizado sobre todo en ambientes profesionales. Se caracteriza por su gran resistencia, tanto a impactos como a altas temperaturas. Además, permite realizar trabajos sobre la pieza una vez impresa. Tiene como desventaja que produce gases nocivos en el momento de la impresión, lo que dificulta la presencia de grupos de trabajo en torno a la impresora.
              La cama caliente debe estar en torno a 100-110°C para el filamento ABS y su temperatura óptima de extrusión debe ser entre 210-250°C.
              <br>
              3. Filamentos PETG:
              Este filamento para impresora 3D es un plástico muy similar al PET utilizado en envases para alimentos y bebidas. Es un material muy resistente a la corrosión, la temperatura, impactos y agentes químicos. Además es impermeable y presenta una reducida absorción de la humedad, lo que lo convierte en ideal para conservar productos de alimentación.
              El problema de este material es que no es biodegradable, a partir de 70ºC se vuelve endeble. Temperatura de extrusión filamento PETG 220-250°C, cama caliente 40-70°C
              <br>
              4. Filamento flexible:
              Este filamento para impresora 3D combina plástico con caucho y se caracteriza por su posibilidad de estiramiento y su resistencia a los impactos y a las roturas por maleabilidad. Además, es un filamento reciclable y su superficie presenta gran suavidad. Es conveniente no fundirlo a temperaturas superiores a las recomendadas para evitar la pérdida de elasticidad. Este material es muy habitual encontrarlo en piezas protectoras, juguetes con flexibilidad, piezas decorativas, pulseras… etc.
              Para la correcta extrusión del filamento flexible la cama caliente se debe colocar entre 30-40°C  y la temperatura de impresión entre 210-230°C.
              <br>
              4.1 Filamento Madera:
              Compuesto a partir de fibras de madera y bambú, es un material resistente, de baja contracción, que emite un agradable olor a madera durante su utilización y ofrece unos acabados sorprendentes. Su temperatura de extrusión se sitúa entre los 190-220℃ y no es necesaria cama caliente. El filamento de madera resulta un material realmente sencillo de trabajar.
              <br>
              5. Filamento PC:
              El filamento PC es un material termoplástico realmente resistente que soporta bien elevadas temperaturas con una alta claridad óptica. Tiende a doblarse y deformarse similar al caucho duro hasta que finalmente se rompe.
              Su temperatura de extrusión se sitúa entre 230-270℃, se recomienda el uso de cama caliente a 90℃.
              <br>
              6. Filamento HIPS:
              El filamento HIPS se utiliza generalmente como material de apoyo en la impresión 3D. Tiene propiedades y características afines con el filamento ABS, utilizándose en conjunto con este para la generación de soportes en zonas huecas, voladizos etc.
              El filamento HIPS es soluble en D-Limoneno. Temperatura de extrusión 210-250℃, cama caliente 100-110°C.
              <br>
              7. Filamento sedoso:
              El filamento sedoso compuesto por PLA polimérico tiene mayor resistencia que el PLA convencional, la apariencia es muy brillante, ofreciendo un acabado similar al satén de seda. Presenta como ventajas respecto al PLA: mayor dureza, menor fragilidad, bajo encogimiento, buena rigidez y un excelente brillo en nuestras creaciones. Uno de nuestros favoritos.
              Su temperatura de extrusión recomendada es de 190-230℃, con cama caliente a 45-50℃
              <br>
              8. Filamento fibra de carbono:
              En su formulación se utiliza un 15% de fibra de carbono, aportando una rigidez superior, además de una capacidad estructural y adherencia de capa muy destacable. Hablamos sin duda de uno de los filamentos más competitivos e interesantes, ya que la fibra de carbono aporta unas propiedades únicas.
              Temperatura de extrusión filamento fibra de carbono: 210ºC – 240ºC. Temperatura de la cama caliente: 40ºC – 50ºC.
              <br>
              9. Filamento Twinkling:
              Este filamento centelleante es un compuesto de materiales PLA, también biodegradable de características similares al PLA, es resistente, inodoro, con bajo encogimiento, buena rigidez, no es necesaria cama caliente, alta velocidad de impresión.
              Temperatura de extrusión del filamento Twinkling es de 190-220℃.
              <br>
              10. Filamento Z-Marble:
              El filamento Z-Marble es un material compuesto y mejorado del PLA cuya característica más destacada es el aspecto de mármol en sus acabados. Sus propiedades son similares al filamento PLA. También es biodegradable y resistente., al imprimir es inodoro, con bajo encogimiento y buena rigidez.
              Para imprimir con este tipo de filamento para impresora 3D no es necesaria cama caliente, aunque se recomienda de tenerla situarla entre 40-50℃. Temperatura de extrusión: 180℃ – 220℃.
              Esto es solo el principio, nuevos materiales se encuentran en desarrollo y próximamente disfrutaremos de nuevas posibilidades.</p>
        </div>
        <div class="caja"><!--aca explico funcionamiento de la impresora-->
            <h3>¿Como funciona una impresora 3D?</h3>
            <br>
            <p class="lead"> Lo que hace es ir fundiendo un filamento (hilo) de polímero mediante un pico (boca de salida) y depositando capa sobre capa el material fundido hasta crear el objeto sólido.
              En esta tecnología, el propio material se va añadiendo por capas hasta crear la forma deseada. Las impresoras que emplean esta técnica tienen un coste menor y son las más utilizadas en el ámbito educativo. Esta técnica también se conoce como "Deposición de Material Fundido" o FDM.              
              Es una tecnología que permite conseguir piezas utilizando plástico ABS (similar al material de los juguetes Lego) o bien PLA (un polímero biodegradable que se produce desde un material orgánico).</p>
        </div>
        <div class="caja"><!--sobre nosotros-->
            <h3>¿Quienes Somos?</h3>
            <br>
            <p class="lead">Somos 2 hermanos, donde uno estudia Kinesiologia y el otro Ingenieria. En plena pandemia, cuando se dificultaba el acceso a materiales de estudios fisicos para aquellos que estudiaban salud o lo que habia era demasiado costoso o no se obtenia de manera convencional (robo en cementarios)
              vimos que la opcion de Impresion de 3D era una excelente opcion donde se podria hacer partes de cuerpo humano con excelente precision para el estudio, como tambien tienen otros aportes a otras areas de estudio, como asi tambien aplicaciones ara hobby. De esta manera, es que nace BRODESIGN3D para poder hacerles
              llegar otra opcion de material de estudio a estudiantes a bajo costo y customizadas segun el cliente desee.</p>
            </div>         
    </main>
    <footer>
        <!--<a href="https://www.instagram.com/brodesign3d/?hl=es"><img src="./assets/img/images.jpg" alt="Instagram"></a>--> 
        <p>© 2022 BD3D, Inc.</p>
    </footer> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>