.container-fluid{
    width: 100%;
}
.row{
    display: flex;
}
@media (max-width:480px){
    .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
}
}



.col{
    display: flex;
}


@for $var from 1 to 10 {
    .col-#{$var}{
        width: 10%*$var;
    }
}

@each $clave, $var in $justifyContent {
    .justify-content-#{$clave}{
        justify-content: $var
    }
}

@each $clave, $var in $alignItems {
    .align-items-#{$clave} {
        align-items: $var;
    }
}