header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black; 
    p{
        font-size: 60px;
        text-align: center;
        color:white;
    }
    h3{
        color:white;
    }
}
.saludo{
    font-size: 60px;
    text-align: center;
    color:white;
    white-space:nowrap;
    overflow: hidden;  
    width: 10em;   
    animation:anim 4s
    infinite;      
}
@keyframes anim {
    from{width: 0; }
}
