header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    h1{
        font-size: 60px;
        text-align: center;
        color:white;
        

    }
    p{
        font-size: 60px;
        text-align: center;
        color:white;
    }
    h3{
        color:white;
    }
}