.inicio{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
@media (max-width:480px){ 
    .inicio{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}
