.caja-productos{
    background-color: rgba(255, 255, 0, 0.63);
    padding:10px;
    margin:30px;
    width: 30%;
    border-radius: 10px;
    img{
        border-radius: 10px;
    }
    button{
        background-color: rgba(255, 0, 0, 0.966);
        margin:5px;
        padding: 5px;
        border-radius: 10px;
        &:hover{
            background-color: rgba(255, 0, 0, 0.541);
        }
    }
    a{
        text-decoration: none;
        color:white;
        font-size: 12px;
    }
    h3{
        font-size: 30px;
    }
}