*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@import "_variables";
@import "_body";
@import "_header";
@import "_grid";
@import "_inicio";
@import "_mainQS";
@import "_contacto";
@import "_tarjetasproductos";
@import "_tarjetasubproductos";
@import "_tarjetasinicio.scss";
@import "_PV";
@import "_footer";
@import "_mixin";